
body{
    margin: 0px;
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.logo{
    font-family: 'Satisfy', cursive;
}
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,

.navbar-scroll .navar-brand {
  color:black;
  font-family: 'Fredoka One', cursive;
 
 
  text-align: center;
  

}

.navbar-scroll .nav-link:hover {
  color: black;
  background-color:white
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,



/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
  
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled{
 


a{
    color: black;
}

.btn-wsp{
    position: fixed;
    height: 55px;
    width: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: rgb(16, 211, 32);
    color: white;
    border-radius: 56px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3); 
    z-index: 100;
    
  }
  .btn-wsp:hover{
   text-decoration: none;
   color: rgb(16, 211, 32);
  background-color: white;
  }
  @media screen and (max-width: 400px)
    { body{

     

    }
  
  nav{
    color: white;
  }}